.portada{
    background-image: url(./assets/header_index.webp);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    font-family: dmsansbold;    
    color: #ffffff;
    text-shadow: 0 0 15px black;
}

.acceso1:hover, .acceso2:hover, .acceso3:hover{
    transform: scale(1.05, 1.05);     
}

.autoridades div:hover{
    background-color: rgba(128, 128, 128, 0.3);
    font-weight: bolder;
}

.datos{
    text-shadow: 0 0 15px black;
}

@media (max-width: 767px ){
    .autoridades li{
        list-style: none;
        padding-bottom: 2rem;
        text-align: center;
        font-size: xx-large;
    }
}

@media (max-width: 500px ){
    .tabla{
        padding: 30px 30px;
        width: 50%;
    }
    .tabla th, td{
        font-size: 0.8rem;        
    }
    .prestavideo{
        width: 100%;
    }
    
}
@media (max-width: 436px ){
    .main{
        margin-top: 100px;
    }
    
}
